body{
    background-color: lightblue;
}
header{
    background-color: rgba(26, 131, 82, 0.308);
    text-align: center;
    border-style: solid;
    color:navy;
    border-color: black;
    border-radius: 30px;
}
.choice{
    text-align: center;
    width: 100%;
}
button{
    text-align: center;
    border-radius: 25px;
    background-color: lightblue;
}
img{
    width: 200px;
    height: 200px;
}